{%extends "layout.html"%}

{%block head%}
	<!-- estilo da pagina index -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}"/>

{%endblock%}

{%block body%}

			<div class="alert alert-warning" role="alert">
				Avisos Importantes!
			</div> 		
		
			<div class="row">
				{% for chamado in chamados %}
					<div class="col-md-6">
						<div class="card">
							<div class="card-header"> 
								{{chamado[1].descricao}}
								{%if chamado[0].numeroChamado == chamados[0][0].numeroChamado%}
									<span class="badge badge-primary">Novo</span>
								{%endif%}
							</div>
							
							<div class="card-body">
								<h5 class="card-title"> {{chamado[2].descricao}}</h5>
								<p class="card-text scrollBox">{{chamado[0].descricaoProblema}}</p>			
							</div>
							
							<div class="card-footer p-2">
								<form action="{{url_for('consultarChamado')}}" method="POST">
									<input type="hidden" value="{{chamado[0].numeroChamado}}" name="numeroChamado">
									<button class="btn btn-danger float-right m-0" type="submit">Detalhes</button>
								</form>
							</div>
						</div>
					</div>
					{%endfor%}
			</div>

{%endblock%}